---
# Needs a front-matter.
---

@import "minima";

.site-header {
  border-top-color: #ff671d;
}

hr.hrule {
  margin-bottom: 20px;
  border: none;
  text-align: center;
  font-size: 35px;
  color: $grey-color-dark;
}

hr.hrule::before {
  content: "...";
}

figcaption {
  color: $grey-color;
	text-align: center;
}

figcaption a {
  color: inherit;
  text-decoration: underline;
}

.post-link {
  color: #000000 !important;

  &:visited {
    color: #000000;
  }
}

.footer-wrapper {
  text-align: center;
  padding: 15px 0;
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 0;
}

.home a[href$="feed.xml"] {
  color: $grey-color;

  .svg-icon {
    fill: $grey-color;
  }
}
