---
# Needs a front-matter.
---

@import "minima";

.site-header {
  border-top: 5px solid #80F;
}

hr.hrule {
  margin-bottom: 20px;
  border: none;
  text-align: center;
  font-size: 35px;
  color: $grey-color-dark;
}

hr.hrule::before {
  content: "...";
}

figcaption {
  color: $grey-color;
	text-align: center;
}

figcaption a {
  color: inherit;
  text-decoration: underline;
}
